.login-container { 
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

p {
    margin: 10px 0 !important;
}

.login-validation {
    color: #d50000;
    font-size: medium;
    padding-top: 20px;
}

#helper-text{
    color: #d50000;
}

#swe {
    display: none;
}

#error-messages {
    color: #d50000;
    font-size: medium;
}

.page, .vol-menu-hidden{
	display: none;
}

.page.current-page{
	display: block;
    color: rgb(47, 37, 179);
}
